html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

* {
  box-sizing: border-box;
}

a:link, a:visited {
  color: currentColor;
  text-decoration: none;
}

